.AI_Services {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  position: relative;
}

.sidebar {
  line-height: 1.6;
  font-family: Arial;
  width: 0px;
  background-color: #f4f4f4;
  padding-top: 80px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  will-change: width;
  z-index: 5;
}

.sidebar a {
  user-select: none;
  cursor: pointer;
  display: block;
  width: 240px;
  color: #333;
  font-size: 1.2em;
  padding: 10px 15px;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}

.sidebar a:hover {
  background-color: #ddd;
}

.content {
  background-color: #f7f9fc;
  padding: 20px;
  width: 100%;
  z-index: 2;
}

.sidebar-collapse-check {
  display: none;
}

.background-sidebar-blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(68, 68, 68, 0.219);
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
  pointer-events: none;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 650px) {
  .sidebar-collapse-check:checked + .sidebar {
    width: 240px;
    height: 100%;
  }

  .sidebar-collapse-check:checked ~ .content .background-sidebar-blur {
    display: block;
    opacity: 1;
  }

  .scc-button-label {
    cursor: pointer;
    user-select: none;
    z-index: 1000;
    padding: 10px;
    height: fit-content;
    width: fit-content;
  }
  .sidebar {
    position: absolute;
    width: 0px;
    height: 100%;
    overflow: hidden;
  }
}

@media screen and (min-width: 650px) {
  .scc-button-label {
    display: none;
  }
  .sidebar {
    width: 240px;
  }
}
