.login-signup-background {
  background: linear-gradient(#2a00b7, #42006c);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginsignup-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
  padding-top: 60px;
  position: relative;
}

.submit-container-top {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.submit-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0px; /* Make it rectangular */
}

.submit-top.gray {
  background: #eaeaea;
  color: #676767;
}

.loginsignup-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.loginsignup-text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}

.loginsignup-underline {
  width: 61px;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.loginsignup-inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.loginsignup-input {
  display: flex;
  align-items: center;
  width: 480px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}

.loginsignup-input img {
  margin: 0px 30px;
}

.loginsignup-input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  margin-top: 27px;
  color: #797979;
  font-size: 15px;
}

.forgot-password a {
  color: #4c00b4;
  cursor: pointer;
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.forgot-password p a {
  color: #3c009d;
  cursor: pointer;
}
.submit-container-bot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submit-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #4c00b4;
  border-radius: 25px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  word-wrap: break-word;
  text-align: center;
}

.Passworderror-message {
  color: red;
  font-size: 10px;
}

.loginsignup-message {
  color: green;
  font-size: 1em;
  margin-top: 10px;
  text-align: center;
}
