@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap");

:root {
  --mainColor: #ffffff;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #000;
}

header {
  position: relative;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: var(--mainColor);
  width: 100%;
  padding: 48px 32px;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
}

.nav-button {
  display: flex;
  gap: 10px;
}

.nav-button .btn {
  width: auto;
  height: 40px;
  margin: 10px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Ubuntu", monospace;
  background: rgba(255, 255, 255, 0.4);
}

#liBtn:hover,
#DaBtn:hover {
  background-color: #000;
}

#liBtn {
  background-color: red;
  border: solid red;
  color: #fff;
}

#DaBtn {
  background-color: white;
  border: solid red;
  color: red;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav span {
  cursor: pointer;
  font-family: Noto Sans;
  font-size: 16px;
  line-height: 1.5;
}

nav span:hover {
  color: var(--secondaryColor);
}

.user-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.user-menu {
  position: absolute;
  right: 0;
  top: 60px;
  width: 100px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 1000;
}

.user-menu span {
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px 0;
}

.user-menu span:hover {
  background-color: #444;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

.close-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media only screen and (max-width: 1024px) {
  .nav-items {
    justify-content: space-between;
    padding: 0 10px;
  }

  .nav-button {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .menu-btn {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 0.3s;
    z-index: 1000;
  }

  nav.responsive_nav {
    top: 0;
  }

  .nav-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .close-btn {
    display: block;
  }

  nav span {
    font-size: 1rem;
  }

  .user-menu {
    width: 140px;
    margin-left: -10px;
  }
}

@media only screen and (max-width: 480px) {
  .nav-items {
    padding: 0.5rem;
  }

  nav {
    height: 50%;
  }

  .nav-button .btn {
    width: 70px;
    height: 25px;
    font-size: 0.8rem;
  }

  .nav-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .user-menu {
    width: 100px;
    margin-left: 0;
  }
}
